# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/
out/

# Python environment
.venv/
venv/
ENV/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db

# Environments
.env

*.zip
